---

---

<header class="h-[5rem] bg-main flex items-center justify-between px-12 border-black border-b-4">
  <div class="flex items-center">
  <h1 class="text-4xl text-white font-changa-one">Bytscape</h1>
    <img src="/logos/BYTSCAPE_7.png" class="h-14 w-14">
  </div>
  
  <div class="flex text-white font-bold text-xl">
    <a href="" class="hover:border-b-4 transition-all">About us</a>
  </div>
  
  <div class="flex  text-white font-bold text-xl">
    <a href="" class="hover:border-b-4 transition-all">What we do</a>
  </div>
  
  <div class="flex text-white font-bold text-xl">
    <a href="" class="hover:border-b-4 transition-all" >Our values</a>
  </div>
  
  <div class="flex text-white font-bold text-xl">
    <a href="" class="hover:border-b-4 transition-all" >Contact us</a>
  </div>

</header>


<style>
h1,a{ 
    font-family: changa one;
  }
</style>
